.courses-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .course-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .enroll-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enroll-button:hover {
    background-color: #0056b3;
  }
  

  /* Bottom Navigation */
  .bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    cursor:pointer
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    color: #000;
  }
  
  .nav-item.active {
    color: #000;
    font-weight: bold;
  }
  
  .nav-item span {
    font-size: 12px;
    margin-top: 5px;
  }
  